.title {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: auto auto;
}
.search {
    grid-column: 1 / span 4;
}
.container div {
    background-color: #a4d1fc;
    border: 1px solid black;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
