<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>StartMeUp</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    </head>
    <body>
        <h1 class="title">Jewgle</h1>
        <b>Happy Hannukah</b>
        <main class="container">
            <section class="Search">
                <form action="https://duckduckgo.com/" method="get" target="_blank">
                    <input type="text" name="q" placeholder="Search the Wired..." aria-label="Search the web" />
                    <button type="submit">Search</button>
                    <button type="reset">Reset</button>

                </form>
            </section>
        </main>
        <div id="presentDay"></div>
        <div id="presentTime"></div>
        <script src="/static/scripts/clock.js"></script>
    </body>
</html>
