@font-face {
    font-family: "AG";
    src: url("/static/fonts/AppleGaramond.ttf");
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #000000;
}

.all_links {
    width: fit-content;
    display: flex;
    margin: auto;
    gap: 1.5rem;
}
.title {
    text-align: center;
    font-family: "AG", sans-serif;
}

a,
a:visited {
    color: #ff0303;
    text-decoration: none;
}

.links {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 400px;
    text-align: left;
    color: #ff0000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid red;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex: 1 1 250px;
}

h2 {
    margin: 0px;
}

.Search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    color: black;
}

input[type="text"] {
    width: 35rem;
    padding: 0.6rem 1.2rem;
    border-radius: 9999px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.08);
    color: #000000;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

button {
    padding: 0.6rem 1.2rem;
    border: 1px solid black;
    border-radius: 9999px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.08);
    color: #003fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

#clock {
    font-size: 6rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* or center if you want vertical centering */
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    gap: 2rem;
    text-align: center;
}
